<p id="notice"><%= notice %></p>

<h1>Name: <%= @author.name %></h1>

<p>Number of faved posts: <%= @author.favorites.count %></p>

<% if @author.favorite_posts.from_someone_else.any? %>
<h2>Last 5 favorite post made by other authors</h2>
<% end %>
<% @author.favorite_posts.from_someone_else.each do |favorite| %>
  <a href=<%= post_path(favorite)%>><%= favorite.title %></a>
<% end %>


<h2>My Favorites by author</h2>


<% Favorite.joins(:post).where('posts.author_id = ?', @author.id).group(:author_id).count.each do |author_id, count| %>
  <p> <%= Author.find(author_id).name %> , <%= count %> posts</p>
<% end %>

<p>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
</p>
